.header {
	margin-top: 0px;
	margin-bottom: 45px;
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
}
.headerList li {
	list-style-type: none;
	display: inline;
	color: #222;
	margin-left: 5px;
	margin-right: 5px;
}
.center {
	margin-top: 0px;
	margin-left: 300px;
	margin-right: 40px;
}
.formbox {
	margin-right: 300px;
}
div .form {
	padding-left: 180px;
	padding-bottom: -40px;
	border-top: -40px;
	margin-top: -90px;
}
input {
	height: 25px;
	width: 450px;
	margin-right: 300px;
	margin-left: -150px;
}
h3 {
	margin-left: 140px;
}
img {
	height: 92px;
	width: 272px;
	padding: 109px;
}
.buttonL {
	background: #f5f5f5;
	border: 1px solid #dcdcdc;
	color: #444;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 12px;

}
.buttonR {
	background: #f5f5f5;
	border: 1px solid #dcdcdc;
	color: #444;
	font-size: 11px;
	font-weight: bold;
	padding: 8px 12px;
}
.footer {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
	border-top: 1px solid #e4e4e4;
	background: #f2f2f2;
	height: 40px;
}
.footerL {
	list-style-type: none;
	margin: 12px;
	padding: 0px;
	display: inline-block;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-align: left;
	float: left;
}
.footerL li {
	display: inline;
	margin-right: 10px;
}
.footerR {
	list-style-type: none;
	margin: 12px;
	padding: 0;
	display: inline-block;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-align: right;
	float: right;
}
.footerR li {
	display: inline;
	margin-left: 10px;
}