.header {
	margin: 0;
	padding-left: 30px;
	padding-right: 30px;
	float: right;
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
}
.headerList li {
	list-style-type: none;
	display: inline;
	color: #222;
	margin-left: 5px;
	margin-right: 5px;
}
.footer {
	display: block;
	position: absolute;
	bottom: 0px;
	width: 100%;
}
.footerL {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-align: left;
	float: left;
}
.footerL li {
	display: inline;
}
.footerR {
	list-style-type: none;
	margin: 0;
	padding: 0;
	display: inline-block;
	color: #000;
	font-family: arial, sans-serif;
	font-size: 13px;
	text-decoration: none;
	text-align: right;
	float: right;
}
.footerR li {
	display: inline;
}
img {
	height: 92px;
	width: 272px;
	padding: 109px;
	border: 109px;
	margin: 109px;
}
form {
}